<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Super Admin Dashboard Page</title>

    <link rel="stylesheet" href="css/style.css">

</head>

<body>
    <h2>Super Admin Dashboard Page</h2>
    <h2 id="name">Hi</h2>
</body>

</html>