<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>My Quizzes</title>

    <!-- Prevent the demo from appearing in search engines -->
    <meta name="robots" content="noindex">

    <link rel="icon" href="data:,">


    <link href="https://fonts.googleapis.com/css?family=Lato:400,700%7CRoboto:400,500%7CExo+2:600&display=swap"
        rel="stylesheet">

    <!-- Preloader -->
    <link type="text/css" href="/Theme/vendor/spinkit.css" rel="stylesheet">

    <!-- Perfect Scrollbar -->
    <link type="text/css" href="/Theme/vendor/perfect-scrollbar.css" rel="stylesheet">

    <!-- Material Design Icons -->
    <link type="text/css" href="/Theme/css/material-icons.css" rel="stylesheet">

    <!-- Font Awesome Icons -->
    <link type="text/css" href="/Theme/css/fontawesome.css" rel="stylesheet">

    <!-- Preloader -->
    <link type="text/css" href="/Theme/css/preloader.css" rel="stylesheet">

    <!-- App CSS -->
    <link type="text/css" href="/Theme/css/app.css" rel="stylesheet">

    <link rel="icon" href="data:,">

</head>

<body class="layout-sticky-subnav layout-learnly " onload="loadData('<%= locals.UserID%>')">

    <div class="preloader">
        <div class="sk-chase">
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
        </div>

        <!-- <div class="sk-bounce">
    <div class="sk-bounce-dot"></div>
    <div class="sk-bounce-dot"></div>
  </div> -->

        <!-- More spinner examples at https://github.com/tobiasahlin/SpinKit/blob/master/examples.html -->
    </div>

    <!-- Header Layout -->
    <div class="mdk-header-layout js-mdk-header-layout">

        <!-- Header -->

        <div id="header" class="mdk-header js-mdk-header mb-0" data-fixed data-effects="waterfall">
            <div class="mdk-header__content">

                <div class="navbar navbar-expand navbar-light bg-white border-bottom" id="default-navbar" data-primary>
                    <div class="container page__container">

                        <!-- Navbar Brand -->
                        <a href="/" class="navbar-brand mr-16pt">

                            <span class="avatar avatar-sm navbar-brand-icon mr-0 mr-lg-8pt">

                                <!-- <span class="avatar-title rounded bg-primary"><img src="/Theme/images/illustration/student/128/white.svg"
                                             alt="logo"
                                             class="img-fluid" /></span> -->

                            </span>

                            <span class="d-none d-lg-block">ExamByte</span>
                        </a>

                        <!-- Navbar toggler -->
                        <button class="navbar-toggler w-auto mr-16pt d-block rounded-0" type="button"
                            data-toggle="sidebar">
                            <span class="material-icons">short_text</span>
                        </button>

                        <ul class="nav navbar-nav d-none d-sm-flex flex justify-content-start ml-8pt">
                            <li class="nav-item">
                                <a href="/" class="nav-link">Home</a>
                            </li>

                        </ul>

                        <form class="search-form form-control-rounded navbar-search d-none d-lg-flex mr-16pt" action="/"
                            style="max-width: 230px">
                            <button class="btn" type="submit"><i class="material-icons">search</i></button>
                            <input type="text" class="form-control" placeholder="Search ...">
                        </form>
                    </div>
                </div>

            </div>
        </div>

        <!-- // END Header -->

        <!-- Header Layout Content -->
        <div class="mdk-header-layout__content page-content ">

            <div class="page-section bg-alt border-bottom-2">
                <div class="container page__container">

                    <div class="d-flex flex-column flex-lg-row align-items-center">
                        <div
                            class="flex d-flex flex-column align-items-center align-items-lg-start mb-16pt mb-lg-0 text-center text-lg-left">
                            <h1 class="h2 mb-8pt">My Quizzes</h1>
                            <div>

                                <span class="chip chip-outline-secondary d-inline-flex align-items-center"
                                    data-toggle="tooltip" data-title="Experience IQ" data-placement="bottom"
                                    id="user-points">
                                    <i class="material-icons icon--left">opacity</i>
                                </span>

                            </div>
                        </div>
                        <div class="ml-lg-16pt">
                            <a href="/userProfile/<%=locals.UserID%>" class="btn btn-light">My Profile</a>
                        </div>
                    </div>

                </div>
            </div>

            <div class="page-section">
                <div class="container page__container">

                    <div class="row">
                        <div class="col-lg-8">

                            <div class="d-flex flex-column flex-sm-row align-items-sm-center mb-24pt"
                                style="white-space: nowrap;">
                                <small class="flex text-muted text-headings text-uppercase mr-3 mb-2 mb-sm-0">Displaying
                                    4 out of 10 results</small>
                                <div class="w-auto ml-sm-auto table d-flex align-items-center mb-2 mb-sm-0">
                                    <small class="text-muted text-headings text-uppercase mr-3 d-none d-sm-block">Sort
                                        by</small>

                                    <a href="#" class="sort desc small text-headings text-uppercase">Newest</a>

                                    <a href="#" class="sort small text-headings text-uppercase ml-2">Popularity</a>

                                </div>

                            </div>

                            <div class="row card-group-row" id="quiz-card-area">





                            </div>

                            <div class="mb-32pt">

                                <ul class="pagination justify-content-start pagination-xsm m-0">
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" aria-label="Previous">
                                            <span aria-hidden="true" class="material-icons">chevron_left</span>
                                            <span>Prev</span>
                                        </a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Page 1">
                                            <span>1</span>
                                        </a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Page 2">
                                            <span>2</span>
                                        </a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Next">
                                            <span>Next</span>
                                            <span aria-hidden="true" class="material-icons">chevron_right</span>
                                        </a>
                                    </li>
                                </ul>

                                <!-- <ul class="pagination justify-content-center pagination-sm">
  <li class="page-item disabled">
    <a class="page-link" href="#" aria-label="Previous">
      <span aria-hidden="true" class="material-icons">chevron_left</span>
      <span>Prev</span>
    </a>
  </li>
  <li class="page-item active">
    <a class="page-link" href="#" aria-label="1">
      <span>1</span>
    </a>
  </li>
  <li class="page-item">
    <a class="page-link" href="#" aria-label="1">
      <span>2</span>
    </a>
  </li>
  <li class="page-item">
    <a class="page-link" href="#" aria-label="Next">
      <span>Next</span>
      <span aria-hidden="true" class="material-icons">chevron_right</span>
    </a>
  </li>
</ul> -->
                            </div>





                            <!-- <ul class="pagination justify-content-center pagination-sm">
  <li class="page-item disabled">
    <a class="page-link" href="#" aria-label="Previous">
      <span aria-hidden="true" class="material-icons">chevron_left</span>
      <span>Prev</span>
    </a>
  </li>
  <li class="page-item active">
    <a class="page-link" href="#" aria-label="1">
      <span>1</span>
    </a>
  </li>
  <li class="page-item">
    <a class="page-link" href="#" aria-label="1">
      <span>2</span>
    </a>
  </li>
  <li class="page-item">
    <a class="page-link" href="#" aria-label="Next">
      <span>Next</span>
      <span aria-hidden="true" class="material-icons">chevron_right</span>
    </a>
  </li>
</ul> -->

                        </div>

                    </div>

                </div>
            </div>

        </div>
        <!-- // END Header Layout Content -->

        <!-- Footer -->

        <div class="bg-dark border-top-2 mt-auto">
            <div class="container page__container page-section d-flex flex-column">
                <p class="text-white-70 brand mb-24pt">
                    <!-- <img class="brand-icon"
                             src="/Theme/images/logo/white-100@2x.png"
                             width="30"
                             alt="Luma"> Luma -->ExamByte
                </p>
                <p class="measure-lead-max text-white-50 small mr-8pt">Exambyte provides innovative and
                    easy-to-understand
                    learning material from the best IIT-JEE & NEET coaching experts and veterans in the industry.</p>
                <p class="mb-8pt d-flex">
                    <a href="#" class="text-white-70 text-underline mr-8pt small">Terms</a>
                    <a href="#" class="text-white-70 text-underline small">Privacy policy</a>
                </p>
                <p class="text-white-50 small mt-n1 mb-0">Copyright 2022 &copy; All rights reserved.</p>
            </div>
        </div>

        <!-- // END Footer -->

    </div>
    <!-- // END Header Layout -->

    <!-- Drawer -->

    <div class="mdk-drawer js-mdk-drawer" id="default-drawer">
        <div class="mdk-drawer__content">
            <div class="sidebar sidebar-light sidebar-light-dodger-blue sidebar-left" data-perfect-scrollbar>

                <!-- Sidebar Content -->

                <a href="/" class="sidebar-brand ">
                    <!-- <img class="sidebar-brand-icon" src="/Theme/images/illustration/student/128/white.svg" alt="Luma"> -->

                    <span class="avatar avatar-xl sidebar-brand-icon h-auto">
                        <!-- 
                            <span class="avatar-title rounded bg-primary"><img src="/Theme/images/illustration/student/128/white.svg"
                                     class="img-fluid"
                                     alt="logo" /></span> -->

                    </span>

                    <span>ExamByte</span>
                </a>

                <div class="sidebar-heading">Student</div>
                <ul class="sidebar-menu">

                    <li class="sidebar-menu-item">
                        <a class="sidebar-menu-button" href="/">
                            <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">home</span>
                            <span class="sidebar-menu-text">Home</span>
                        </a>
                    </li>

                    <li class="sidebar-menu-item">
                        <a class="sidebar-menu-button" href="/studentDashboard">
                            <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">account_box</span>
                            <span class="sidebar-menu-text">Student Dashboard</span>
                        </a>
                    </li>

                    <li class="sidebar-menu-item">
                        <a class="sidebar-menu-button" href="/userTakeQuiz">
                            <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">dvr</span>
                            <span class="sidebar-menu-text">Take Quiz</span>
                        </a>
                    </li>
                    <li class="sidebar-menu-item active">
                        <a class="sidebar-menu-button" href="/userQuizResults">
                            <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">poll</span>
                            <span class="sidebar-menu-text">My Quizzes</span>
                        </a>
                    </li>
                    <li class="sidebar-menu-item">
                        <a class="sidebar-menu-button" href="student-quiz-result-details.html">
                            <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">live_help</span>
                            <span class="sidebar-menu-text">Quiz Result</span>
                        </a>
                    </li>


                </ul>

            </div>

            <!-- // END Drawer -->

            <!-- jQuery -->
            <script src="/Theme/vendor/jquery.min.js"></script>

            <!-- Bootstrap -->
            <script src="/Theme/vendor/popper.min.js"></script>
            <script src="/Theme/vendor/bootstrap.min.js"></script>

            <!-- Perfect Scrollbar -->
            <script src="/Theme/vendor/perfect-scrollbar.min.js"></script>

            <!-- DOM Factory -->
            <script src="/Theme/vendor/dom-factory.js"></script>

            <!-- MDK -->
            <script src="/Theme/vendor/material-design-kit.js"></script>

            <!-- App JS -->
            <script src="/Theme/js/app.js"></script>

            <!-- Preloader -->
            <script src="/Theme/js/preloader.js"></script>


            <script src="/script/userQuizResults.js"></script>

</body>

</html>