<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Better Online Learning Experience for IIT-JEE Aspirants With Hands On Quizzes , 
    Exam Updates and Subject Categorised Compact Preparation Guides.">
    <meta name=”robots” content="index, follow">
    <meta property="og:title" content="ExamBytes Quiz" />
    <meta property="og:site_name" content="ExamBytes" />
    <title>ExamBytes|BlogNQuiz</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="icon" href="data:,">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped&family=Libre+Baskerville:ital@0;1&family=Mukta:wght@300;400;500&family=Source+Serif+4:ital,wght@0,200;1,200&display=swap"
        rel="stylesheet">

    <!--custom style-->
    <link rel="stylesheet" href="css/home.css">


    <!---------AOS LIBRARY--------->
    <link rel="stylesheet" href="css/aos.css">


    <link rel="stylesheet" href="css/userTestSection.css">

</head>

<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-info">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">ExamByte</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="#">SIGN IN</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link" href="/userTestsSection">Tests</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

        <div class="test-list-section" id="test-list-section">
            <!-- Data will come Dynamicallly -->
        </div>    

    <!--  Font Awesome  -->
    <script src="https://kit.fontawesome.com/50c832ee4b.js" crossorigin="anonymous"></script>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>


    <script src="script/userTestsSection.js"></script>
</body>

</html>